*{
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    margin-bottom: -415px;
}
.fondo_header img{
    position: relative;
    display: flex;
    width: 100%;
    top: -7em;
    z-index: -1;
    height: 25em;
}
/*logo en el header*/
.logo img{
    position: relative;
    display: flex;
    top: -23em;
    width: 20%;
    left: 18%;
}
/*titulo en el header*/
@font-face{
    font-family:titulo;
    src: url(Hello\ August.ttf);
}
.titulo{
    position: absolute;
    display: flex;
    left: 11em;
    top: 1.5em;
    font-size: 55px;
    font-family:titulo;
}
.fondo_body img{
    position: relative;
    display: flex;
    top: 4.9em;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}
.prim_tex{
    position: absolute;
    top: 18.5em;
    width: 95%;
    left: 2.5%;
}
.titulo_pr{
    font-size: 30px;
}

footer{
    background-color: #7f3e21;
    bottom: 1px;
    width: 100%;
    height: 8em;
}
.columnafoo img{
    float:left;
    width: 35%;
    padding-right: 5px;
}
.filafoo::after{
    content:" ";
    clear: both;
    display: table;   
}
.whatsapp img{
    height: 3em;
    width: 3.5%;
    padding-left: 590px;
}
.facebook img{
    height: 3em;
    width: 3.5%;
}
.instagram img{
    height: 3em;
    width: 3.5%;
}
.mercadop img{
    height: 3em;
    width: 3.5%;
}
/*carrusel*/
.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: -37em;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 250px + 3em);
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
.columna{
    float:left;
    width: 31.92%;
    padding-right: 19px;
}
.fila::after{
    content:" ";
    clear: both;
    display: table;   
    margin-top: -24em;
}
